button{
    display: inline-block;
    background-color:lightblue;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
}