button{
    display: inline-block;
    background-color:lightblue;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: black;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    width: 200px;
}

.tile-icon{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.icon-container{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    height: 500px !important;
}